ul a.active{
    color: #632EE3;
    border-bottom: 1px solid #632EE3
}
ul a.pending{
    color: rgb(194, 16, 16);
}
ul a:hover{
    color: #632EE3;
    border-bottom: 1px solid #632EE3;
}
ul a{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0;
}